* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b53131;
  color: white;
  text-align: center;
}

/* Title */
title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Buttons */
.mode-buttons button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  margin: 0.3rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}
